/* Course Filtering:
/* Container for filter and course components */
.filter-course-container {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
    position: relative;
    flex: 1;
}

.filter-box-wrapper {
    width: 35%;
    min-width: 300px;
    max-width: 580px;
}

.course-list-wrapper {
    flex: 1;
}

/* Media query for tablets and mobile devices */
@media screen and (max-width: 992px) {
    .filter-course-container {
        flex-direction: column;
        padding: 10px;
    }

    .filter-box-wrapper,
    .course-list-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .filter-box-wrapper {
        margin-bottom: 20px;
    }
}

/* Media query for small mobile devices */
@media screen and (max-width: 576px) {
    .filter-course-container {
        padding: 5px;
    }
}