.courseGroupNode {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: stretch;
    padding-left: 15px;
    padding-right: 15px;
}
.grp-title{
    font-weight: 600;
    margin: 20px;
}